

.Title-Product{
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Price-Product{
}

.Information-Product{
    border-radius: 10px;
    background-color: white;
    height: 500px;
}

.rating{
    text-align: center;
}

.buy{
    text-align: center;
}


.Description-Product{
    
}
